@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using blog.Models
@using blog.Helpers
@using Our.Umbraco.Ditto

@{
    Layout = "Master.cshtml";

    var content = Model.Content.As<PostViewModel>();
    var baseInfo = content.BaseInfo;

    ViewBag.Title = Model.Content.Name;
}

<!-- post -->
<div class="post-container">
    <header class="container post-header-container preview">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="preview-tags">
                    @ViewHelpers.RenderTags(baseInfo.Tags)
                </div>
                <h1 class="preview-title">@baseInfo.PageTitle</h1>
                <div class="preview-meta row align-items-center no-gutters">
                    @ViewHelpers.RenderPostMeta(baseInfo)
                    <span class="ml- view-count">— @(content.ViewCount + 1) lượt xem</span>

                    @if (content.DisabledFacebookPlugins == false)
                    {
                        <div class="col justify-content-end no-gutters page-fbplugins row mt-3 mt-sm-0">
                            @Html.Partial("_FbPlugins", Model.Content.UrlAbsolute())
                        </div>
                    }
                </div>
            </div>
            <!-- //header -->
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <article class="page__content">
                    @Html.Raw(content.BodyText)
                </article>
                <!-- //content -->
                
            </div>
        </div>
    </div>

    @if (baseInfo.DisableComment == false)
    {
        <section class="page__comment-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="comment__content">

                            <button class="render-disqus btn btn-elegant btn-block" type="button">Xem bình luận</button>

                            @Html.Partial("_DisqusComment")
                        </div>
                        <!-- //content -->
                    </div>
                </div>
            </div>
        </section>
    }

</div>

@section scripts {
    @*<script src="~/Scripts/lazyload.min.js"></script>*@
    <script>
        (function () {
            var images = document.querySelectorAll('.page__content img');
            lazyload(images);

            //$(document).ready(function () {
            //    $('.page__content img').Lazy({
            //        delay: 1000
            //    });
            //});

            $(document).on('click', '.render-disqus', function (e) {
                e.preventDefault();
                $(this).remove();

                renderDisqus();
            });
        })();
    </script>
}