@using blog.Models
@model PreviewPostViewModel

@{ 
    var baseInfo = Model.BaseInfo;
}

<div class="preview container-fluid">
    <div class="row max-size">
        <div class="col-md-6 preview-left">
            <div class="preview-tags">
                @ViewHelpers.RenderTags(baseInfo.Tags)
            </div>
            <h3 class="preview-title">
                <a href="@baseInfo.Url" title="@Model.BaseInfo.PageTitle">@Model.BaseInfo.PageTitle</a>
            </h3>
            <div class="preview-meta">
                @*<div class="align-items-center mr- no-gutters row writer">
                    <a href="#">
                        <img src="img/user.png" alt="@baseInfo.Author" class="mr-">
                    </a>
                    <span class="mr-">by</span>
                    <a href="#">
                        <span>@baseInfo.Author</span>
                    </a>
                </div>
                <div class="published">
                    <span>—</span>
                    <time datetime="@baseInfo.CreatedDate" class="timeago"></time>
                </div>*@
                @ViewHelpers.RenderPostMeta(baseInfo)
            </div>
        </div>
        <div class="col-md-6 preview-right align-self-center">
            <!-- <a href="#" class="readmore">read more</a> -->
            <p class="excerpt">
                @Model.Excerpt
                <a href="@baseInfo.Url" class="ml" title="read more">[...]</a>
            </p>
        </div>
    </div>
</div>
<!-- /preview container-fluid -->
